h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}
ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}  
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}  
img {
    display: block;
    max-inline-size: 100%;
}



* {
    font-family: "Space Mono", serif;
    font-size:  36px;
    background-color: rgb(247, 164, 22);
}
button {
    cursor: pointer;
}
.container {
    display: none;
    margin: 20px;
}
.subheader {
    display: none;
}

.boiledEgg {
    margin: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    &:hover {
        border: 1px solid black;;
    }
}
.show {
    display: block;
}

.hide {
    display: none;
}